@font-face {
    font-family: pacfont;
    src: url('../assets/fonts/emulogic-font/Emulogic-zrEw.ttf');
}


body{
    background-color: black;
    color: white;
    font-family: pacfont;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot div{
    width: 8px;
    height: 8px;
    background-image: url('../assets/Pac-Man - All Assets_Palettes.png');
    background-position : -936px -205px;
	background-repeat: no-repeat;
}
.powerPellet{
    background-image: url('../assets/Pac-Man - All Assets_Palettes.png');
	background-position : -903px -168px;
	background-repeat: no-repeat;
}
.pinkGhost{
    background-image:  url('../assets/Pac-Man - All Assets_Palettes.png');
	background-position:-303px -83px;
	background-repeat: no-repeat;
}
.blueGhost{
    background-image:  url('../assets/Pac-Man - All Assets_Palettes.png');
	background-position:-503px -83px;
	background-repeat: no-repeat;
}
.redGhost{
    background-image:  url('../assets/Pac-Man - All Assets_Palettes.png');
	background-position:-103px -83px;
	background-repeat: no-repeat;
}
.orangeGhost{
    background-image:  url('../assets/Pac-Man - All Assets_Palettes.png');
	background-position:-703px -83px;
	background-repeat: no-repeat;
}
.pacman{
    background-image:  url('../assets/Pac-Man - All Assets_Palettes.png');
	background-position:-503px -337px;
	background-repeat: no-repeat;
    animation: pacmanIdle 0.4s steps(2) infinite ;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.right{
    transform: rotate(0deg);
}
.left{
    transform: rotate(180deg);
}
.up{
    transform: rotate(270deg);
}
.down{
    transform: rotate(90deg);
}
/* .pacman-left{
    background-image:  url('../assets/Pac-Man - All Assets_Palettes.png');
	background-position:-503px -337px;
	background-repeat: no-repeat;
    animation: pacmanIdle 1s steps(2) infinite;
    transform: rotate(180deg);
}
.pacman-up{
    background-image:  url('../assets/Pac-Man - All Assets_Palettes.png');
	 background-position:-520px -337px; 
    background-position:-503px -337px;
	background-repeat: no-repeat;
    animation: pacmanIdle 1s steps(2) infinite;
    transform: rotate(270deg);
}
.pacman-down{
    background-image:  url('../assets/Pac-Man - All Assets_Palettes.png');
    background-position:-503px -337px;
	 background-position:-520px -337px; *
	background-repeat: no-repeat;
    animation: pacmanIdle 1s steps(2) infinite;
    transform: rotate(90deg);
} */
@keyframes pacmanIdle {
    from {background-position:-503px -337px;}
    to {background-position:-503px -303px;}
}

.tile{
    width: 16px;
    height: 16px;
    /* border: 1px dotted white; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.blocked{
    /* border: 2px double blue; */
    /* border-left: 3px double blue;  */
    /* border-right: 3px double blue; */
    /* border-radius: 2px; */
    /* background-color: ; */

}
#display-board{
    display: grid;

}
